<!DOCTYPE html>

<html>
<link rel="icon" href="data:,">
<body style="font-family:arial, sans-serif">
    <h1 style="background:white;padding:10px">
            App Connect Performance Data Analysis
    </h1>
    <img src="{{url_for('static', filename='image.png')}}" align="middle" />

    <h2><a href="chart1">Message flows with highest Elapsed and CPU time
        </a></h2>
    <h2><a href="chart2">Input Message vs Average Elapsed Time</a></h2>
    <h2><a href="chart3">HeatMaps</a></h2>

</body>
</html>