<!doctype html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-2.2.0.min.js"></script>
<html>
<link rel=stylesheet type=text/css
      href="{{ url_for('static', filename='style.css') }}"/>
    <h1>{{header}}</h1>
    <h4><a href="/">Return to index page</a></h4>
    <div id="chart" class="chart"></div>
           <img src="static/final6.png" alt="Testing1" width="300"
                height="300" style="margin-left: 15px" hspace="0.005">
            <img src="static/final1.png" alt="Testing3" width="300"
            height="300" style="margin-left: 15px" hspace="0.005">
            <img src="static/final2.png" alt="Testing2" width="300"
            height="300" style="margin-left: 15px" hspace="0.005">

</body>
</html>